form {
    width: 550px;
    height: 550px;
    background: bisque;
    background-position: center;   
}

form div{
    text-align: center;
}
form button{
     width: 150;
     margin: 10px,5px,5px,5px;
}